.question-box {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 12px #00000029;
}

h2 {
    padding: 16px;
    margin: 0;
    font-size: 23px;
}

ul {
    list-style-type: none;
    padding: 10 40px;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

input {
    cursor: pointer;
}

button {
    background-color: #4C60E1;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 20px 70px;
    text-align: left;
    border-radius: 10px;
}

label {
    padding: 0px 20px;
}

.button-wraper {
    text-align: center;
    padding: 15px 40px;
}