<Div class="question-box">
    <h2 class="question"><span>01.</span> Which of the following phenomenon is considered responsible for global warming?</h2>
    <ul>
        <li>
            <input type="radio" name="answer" id="a" class="answer" />
            <label for="a" id="a_text">Greenhouse effect</label>
        </li>
        <li>
            <input type="radio" name="answer" id="b" class="answer" />
            <label for="b" id="b_text"> Fire in coal mines</label>
        </li>
        <li>
            <input type="radio" name="answer" id="c" class="answer" />
            <label for="c" id="c_text"> Dry farming</label>
        </li>
        <li>
            <input type="radio" name="answer" id="d" class="answer" />
            <label for="d" id="d_text"> Monsoon</label>
        </li>
    </ul>
    <div class="button-wraper">
        <button id="submit">Submit</button>
    </div>

</Div>