<div class="assignment-wraper">
    <div class="assignment-number">Assignment 1 </div>
    <div class="assignment-topic"> Business information Systems 1 </div>
    <div class="container-fluid">
        <div class="row time">
            <div class="col-6">
                From
                <div> <strong> Monday, 11 March 2022 </strong> </div>
            </div>
            <div class="col-6">
                Until
                <div> <strong> Monday, 14 March 2022 </strong> </div>
            </div>
        </div>
    </div>
    <div class="button-wraper"><button type="button" class="btn btn-primary">Attempt</button></div>

</div>