<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">
                <div class="all-wraper">
                    <div class="mark-assignment">
                        
                        <h2>Mark Assignment</h2>
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="#">Assignments</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Submissions</li>
                                    <li class="breadcrumb-item active" aria-current="page">Mark</li>
                                </ol>
                            </nav>
                        </div>
                        
                        
                        <div class="alert alert-success" role="alert">
                            Assignment 01
                        </div>
                        <p class="topic">Description</p>
                        <div class="description">
                            compare and contrast overloading and overriding in java
                        </div>
                        <p class="topic">User Submission</p>
                        <div class="description">

                            When two or more methods in the same class have the same name but different parameters, it’s
                            called Overloading. When the method signature (name and parameters) are the same in the
                            superclass and the child class, it’s called Overriding.
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="marks">Marks</label>
                                <input type="marks" class="form-control" id="marks" aria-describedby="marks"
                                    placeholder="Marks">
                            </div>
                        </form>
                        <div class="btn-wraper">
                            <button type="button" class="btn btn-primary btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>