<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">
                <alert type="success">
                    <strong>Electronics 101</strong>
                </alert>
                <app-tute class="tute-box" title="Lesson 01 - Digital electronics part 1"
                    description="In this lesson we explore the fundamentals digital electronics"></app-tute>
                <!-- <app-tute class="tute-box" title="Lesson 02 - Number theory"
                    description="In this lesson we explore binary number mathaatics"></app-tute> -->
                <app-assignment-card class="mb-5"></app-assignment-card>

                <app-streams-card class="mt-5"></app-streams-card>
            </div>
        </div>
    </div>
</div>