<div class="m-5">

    <div>
        <h4>Add Books</h4>
    </div>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="name">
            <div *ngIf="bookForm.controls['name'].errors && (bookForm.controls['name'].dirty || bookForm.controls['name'].touched)">
                <div *ngIf="bookForm.controls['name'].errors.required">
                    <small class="text-danger">Name is required</small>
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="ISBN">ISBN</label>
            <input class="form-control" type="text" id="ISBN" formControlName="isbn">
            <div *ngIf="bookForm.controls['isbn'].errors && (bookForm.controls['isbn'].dirty || bookForm.controls['isbn'].touched)">
                <div *ngIf="bookForm.controls['isbn'].errors.required">
                    <small class="text-danger">ISBN is required</small>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="des">Description</label>
            <textarea class="form-control"  id="des" formControlName="description"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="genre">Author</label>
            <select class="form-control" id="genre" formControlName="autherId">
                <option *ngFor="let author of authors" [value]="author.autherId">{{ author.name }}</option>
            </select>
            <div *ngIf="bookForm.controls['autherId'].errors && (bookForm.controls['autherId'].dirty || bookForm.controls['autherId'].touched)">
                <div *ngIf="bookForm.controls['autherId'].errors.required">
                    <small class="text-danger">Auther is required</small>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="genre">Category</label>
            <select class="form-control" id="genre" formControlName="genreId">
                <option *ngFor="let genre of genres" [value]="genre.genreId">{{ genre.name }}</option>
            </select>
            <div *ngIf="bookForm.controls['genreId'].errors && (bookForm.controls['genreId'].dirty || bookForm.controls['genreId'].touched)">
                <div *ngIf="bookForm.controls['genreId'].errors.required">
                    <small class="text-danger">Category is required</small>
                </div>
            </div>
        </div>

        
        <div class="form-group mb-3">
            <label for="amount">Amount</label>
            <input class="form-control" type="number" id="amount" formControlName="amount">
            <div *ngIf="bookForm.controls['amount'].errors && (bookForm.controls['amount'].dirty || bookForm.controls['amount'].touched)">
                <div *ngIf="bookForm.controls['amount'].errors.required">
                    <small class="text-danger">Amount is required</small>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button  class="btn btn-primary"  type="submit">Submit</button>
          </div>
    </form>
    
</div>