<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container-x">
                <div class="all-wraper m-5">
                    <h3 class="title">Book Manager</h3>
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Manage Books</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="mb-3">
                        <div class="">
                            <button type="button" class="btn btn-primary" (click)="openModal()">Add Books</button>
                        </div>
                    </div>
                    <table class="lms-table">
                        <thead class="t-header">
                            <th>Name</th>
                            <th>ISBN</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Copies</th>
                            <th colspan="2">Operations</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of books;" >
                                <td>{{book.name}}</td>
                                <td>{{book.isbn}}</td>
                                <td>{{book.auther?.name}}</td>
                                <td>{{book.genre?.name}}</td>
                                <td>{{book.amount}}</td>
                                <td><button type="button" class="btn btn-primary" (click)="openEditModal(book)">Update</button></td>
                                <td><button type="button" class="btn btn-danger"  (click)="deleteBook(book.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>