.C-manage-wraper {
    box-shadow: 0px 6px 12px #00000029;
}

.My-Classes {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

th {
    font-size: 18px;
}

.btn {
    padding: 5px 30px;
}
