<div>
    <div class="mcq-box">
        <form>

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div *ngIf="question" class="alert alert-danger">
                Question is required.
            </div>
            
            <div class="mcq-box-input"><input type="checkbox" id="mcq1" name="Monday" value="Monday">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div *ngIf="c1" class="alert alert-danger">
                Choice 1  is required.
            </div>
            <div class="mcq-box-input"><input type="checkbox" id="mcq1" name="Monday" value="Monday">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>

            <div *ngIf="c2" class="alert alert-danger">
                Choice 2  is required.
            </div>
            <div class="mcq-box-input"><input type="checkbox" id="mcq1" name="Monday" value="Monday">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div *ngIf="c3" class="alert alert-danger">
                Choice 3  is required.
            </div>
            <div class="mcq-box-input"><input type="checkbox" id="mcq1" name="Monday" value="Monday">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div *ngIf="c4" class="alert alert-danger">
                Choice 4  is required.
            </div>
            
            <div *ngIf="c" class="alert alert-danger">
                Please select the correct choice
            </div>
            
            <div class="btn">
                <button type="submite" >Add question</button>
                <button type="submite" class="paper-sub">Submit paper</button>
            </div>
        </form>
    </div>
</div>