.all-wraper {
    box-shadow: 0px 6px 12px #00000029;
    text-align: left;
    font-size: 16px;
}

.payment-topic {
    padding: 10px 10px;
    font-size: 20px;
}

p {
    font-size: 18px;
}

.coruses {
    padding: 5px 10px;

}

.form-group {
    padding: 10px;

}

.card-payment {
    padding: 10px;
    text-align: center;
}

.cout {
    padding: 20px 10px;
    border: 1px solid rgba(87, 87, 87, 0.055);
    border-radius: 5px;
    background-color: #bbc3f554;

}


table {
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 5px;

    td {
        padding: 10px 5px;
        text-align: center;

    }
}

.t-header {
    color: white;
    background-color: #4C60E1;

    th {
        padding: 10px 60px;
        border: 1px #333 solid;
        font-size: 22px;

    }
}