<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">
                <div class="search-container">
                    <input type="text" name="searchterm" [(ngModel)]="searchTerm" placeholder="Search.." name="search">
                    <button type="button" (click)="search()"><i class="fa fa-search"></i></button>

                    <!-- <div class="filter-block">
                        <h3 class="filters">Filters</h3>
                        <div class="row">

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select class="form-control" id="subject">
                                        <option>Select</option>
                                        <option>Science</option>
                                        <option>Math</option>
                                        <option>Music</option>
                                        <option>English</option>
                                        <option>Computer Science</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="subject">Level</label>
                                    <select class="form-control" id="subject" formControlName="subject">
                                        <option>Select</option>
                                        <option>A/l</option>
                                        <option>O/l</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div> -->
                </div>

                <div class="row">
                    <div class="col-md-4" *ngFor="let book of books;">
                        <app-book-card [book]="book"></app-book-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>