

<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">
                <h3 class="title">Attendance</h3>
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#">Classes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                        </ol>
                    </nav>
                </div>
                <div class="p-2">Class - Introduction to programing</div>
                <app-attendance-card> </app-attendance-card>
                
                <div class="pt-4">
                    <button type="button" class="btn btn-primary">Download PDf</button>
                </div>
            </div>
        </div>
    </div>
</div>
