<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container-x">
                <div class="all-wraper m-5">
                    <h3 class="title">Category</h3>
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Category</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="mt-5 mb-3">
                        <button type="button" class="btn btn-primary" (click)="openModal()">Add New Category</button>
                    </div>
                    <table class="lms-table">
                        <thead class="t-header">
                            <th>Category Name</th>
                            <th colspan="2">Operations</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories;">
                                <td>{{category.name}}</td>
                                <td><button type="button" class="btn btn-primary"
                                        (click)="openEditModal(category)">Update</button></td>
                                <td><button type="button" class="btn btn-danger"
                                        (click)="deleteCategory(category.genreId)">
                                        Delete <i class="fa fa-trash-o" aria-hidden="true"> </i>
                                    </button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>