<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container-x">
                <div class="all-wraper">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="level">Course</label>
                                    <select class="form-control" id="level">
                                        <option> </option>
                                        <option>Digital electronics - 3</option>
                                        <option>Digital electronics - 4</option>
                                        <option>Digital electronics - 5</option>
                                        <option>Digital electronics - 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="Id">Id</label>
                                    <select class="form-control" id="Id">
                                        <option> </option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div>
                                        <label for="name" class="label">Name</label>
                                        <input type="email" class="form-control" id="name" placeholder="name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wraper">
                            <button type="button" class="btn btn-primary btn">Search</button>
                        </div>
                        <div class="table-wraper">
                            <table>
                                <thead>
                                    <tr class="t-header">
                                        <th> Student Name</th>
                                        <th> Student Id</th>
                                        <th> Joined Date</th>
                                        <th> Status</th>
                                        <th> Op</th>

                                    </tr>
                                </thead>
                                <tr>
                                    <td>Alex</td>
                                    <td>1</td>
                                    <td>2021-08-12</td>
                                    <td>Active</td>
                                    <td><button type="button" class="btn-ban btn btn-danger btn-sm">Ban  </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Brayan</td>
                                    <td>2</td>
                                    <td>2021-07-10</td>
                                    <td>Active</td>
                                    <td><button type="button" class="btn-ban btn btn-danger btn-sm">Ban  </button>

                                </tr>
                                <tr>
                                    <td>niki</td>
                                    <td>3</td>
                                    <td>2021-09-03</td>
                                    <td>Banned</td>
                                    <td><button type="button" class="btn-ban btn btn-primary btn-sm">Unban</button>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>