<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">

                <h2>Create class</h2>
                <div class="wraper">
                    <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class="form-control" placeholder="" id="name">
                        </div>
                        
                        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['name'].errors['required']">
                            Name is required.
                          </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="level">Level</label>
                            <select class="form-control" id="level" formControlName="level" >
                                <option value="null">Select</option>
                                <option>General</option>
                                <option>A/L</option>
                                <option>O/L</option>
                                <option>Pre school</option>
                            </select>
                            
                            <div *ngIf="angForm.controls['level'].invalid && (angForm.controls['level'].dirty || angForm.controls['level'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['level'].errors['required']">
                                Level is required.
                              </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <select class="form-control" id="subject" formControlName="subject">
                                <option>Select</option>
                                <option>Science</option>
                                <option>Math</option>
                                <option>Music</option>
                                <option>English</option>
                                <option>Computer Science</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="fees">Fees</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Rs</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="fee" >
                            </div>
                            
                            <div *ngIf="angForm.controls['fee'].invalid && (angForm.controls['fee'].dirty || angForm.controls['fee'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['fee'].errors['required']">
                                Fee is required.
                              </div>
                            </div>
                            
                            
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                            
                            <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['description'].errors['required']">
                                Description is required.
                              </div>
                            </div>
                        </div>
                        <div class="button-wraper">
                            <button type="submit" class="btn btn-primary btn">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>