.wraper {
    width: auto;
    box-shadow: 0px 6px 12px #00000029;

}
.form-group{
    padding: 12px 10px;
}
.Fees-{
    padding: 20px 10px;
    font-size: 17px;
}

.description{
    padding: 20px 10px;
}


.button-wraper{
    text-align: center;
    padding: 20px 0px;

}
.btn{
    padding: 10px 50px;
}