.tute-wraper {
    margin: 30px auto;
}
.lesson-heading{
    background-color: #4C60E1;
    font-size: 28px;
    padding: 7px 15px;
    color: #fff;
}
.description{
    background: #fff;
    box-shadow: 0px 6px 12px #00000029;
    position: relative;
    padding: 45px;
    font-size: 16px;     

}
.button-wraper {
    text-align: right;
    color: #fff;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 6px 12px #00000029;
    position: relative;
    padding: 15px 40px;
    border-top: 1px #333 solid;
}