<div class="Stream-wraper">
    <div class="Stream-number">Stream 01</div>
    <div class="Stream-topic">Digital electronics 1 </div>
    <div class="container-fluid"> 
        <div class="row time">
            <div class="col-6">
                From
                <div> <strong> 08.00Am </strong> </div>
            </div>
            <div class="col-6">
                Until
                <div> <strong> 1.00Pm </strong> </div>
            </div>
        </div>
    </div>
    <div class="button-wraper"><button type="button" class="btn btn-primary">Join Now</button></div>

</div>
