<div class="main-container">
    <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="C-manage-wraper">
            <div class="container">
                <div class="mcq">
                    <h3>Classes</h3>
                </div>
                <div class="mcq-box">

                    <p>This is all the classes you have joined.</p>
                    <div class="class1"><a href="#">Java basics</a></div>
                    <div class="class1"><a href="#">DBMS</a></div>
                    <div class="class1"><a href="#">Html basics</a></div>

                </div>

            </div>
        </div>
    </div>
</div>