<div>
    <table>
        <thead>
            <tr class="t-header">
                <th> <strong>Name</strong> </th>
                <th> <strong> Date</strong></th>
                <th> <strong> Macks</strong></th>
            </tr>
        </thead>
        <tr>
            <td>Alex</td>
            <td>Date</td>
            <td>Details</td>
        </tr>
        <tr>
            <td>Brayan</td>
            <td>Date</td>
            <td>Details</td>
        </tr>
        <tr>
            <td>niki</td>
            <td>Date</td>
            <td>Details</td>
        </tr>
    </table>
</div>
