table {
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 12px;

    td {
        padding: 10px 5px;
        text-align: center;
        
    }
}

.t-header {
    color: white;
    background-color: #4C60E1;

    th {
        padding: 10px 60px;
        border: 1px #333 solid;
        font-size: 22px;

    }
}


p {
    font-weight: bold;
    font-size: 25px;
}